html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(145, 145, 145);
}
.btnTableDe3 a{
    color: white;
    text-decoration: none;
}

.btnTableDe3{
    width: 200px;
    margin: auto;
}

#btn-quizz a{
    color: white;
    text-decoration: none;
}
#btn-quizz{
    background-color: grey;
}
